<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exchange.mapper.SysMenuMapper">

    <resultMap id="BaseResultMap" type="com.exchange.entity.SysMenu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="parentKey" column="parent_key" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="desc" column="desc" jdbcType="VARCHAR"/>
            <result property="targetUrl" column="target_url" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="modifyBy" column="modify_by" jdbcType="BIGINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,parent_key,
        type,name,desc,
        target_url,sort,status,
        create_by,modify_by,created,
        last_update_time
    </sql>
    <select id="selectMenusByUserId" resultType="com.exchange.entity.SysMenu">
        select sm.* from sys_menu as sm left join
        sys_role_menu as srm on sm.id = srm.menu_id
        left join sys_user_role as sur on sur.role_id = srm.role_id
        where sur.user_id = #{userId}
    </select>
</mapper>
