<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exchange.mapper.WebConfigMapper">

    <resultMap id="BaseResultMap" type="com.exchange.entity.WebConfig">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="value" column="value" jdbcType="VARCHAR"/>
            <result property="sort" column="sort" jdbcType="SMALLINT"/>
            <result property="created" column="created" jdbcType="TIMESTAMP"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,name,
        value,sort,created,
        url,status
    </sql>
</mapper>
